<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join</title>
</head>
<body>
  <h1>Join Our Website</h1>
  <span><%=message%></span>
  <form action="/join" method="post">
    email : <input type="email" name="email"> <br/>
    password : <input type="password" name="pw"> <br/>
    <input type="submit">
  </form>
</body>
</html>