<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Form</title>
  <link rel="stylesheet" href="/css/login.css" type="text/css">
</head>
<body>
  <h1>Login</h1>
  <div class="lgcontainer">
    <form class="lgform" action="/login" method="post">
      <input type="email" name="email">
      <input type="password" name="pw">
    </form>
    <button class="lgbtn ajaxsend">Login</button>
    <button class="lgbtn join" onclick="location.href='join'">Join</button>
  </div>


  <script>
    document.querySelector(".ajaxsend").addEventListener('click', (e) => {
      e.preventDefault()
      var email = document.getElementsByName('email')[0].value;
      var pw = document.getElementsByName('pw')[0].value;
      sendAjax('http://localhost:3000/login', {email, pw})
    })
    

    const sendAjax = (url, data) => {
      var jsonData = {'email' : data.email, 'pw': data.pw};
      jsonData = JSON.stringify(jsonData);

      var xhr = new XMLHttpRequest();
      xhr.open('POST', url);
      xhr.setRequestHeader('Content-Type', "application/json");
      xhr.onreadystatechange = () => {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            // var result = JSON.parse(xhr.responseText);
            // var resultDiv = document.querySelector(".result");
            // resultDiv.innerHTML = result.email;
            window.location.href = '/main';
          }
        }
      };
      xhr.send(jsonData);
    } 
  </script>
</body>
</html>